
:host {
    display: inline-block;
    border: 1px solid #aaa;
    width: 100px;
    text-align: center;
    padding: 15px;
}

.name {
    margin-top: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.2em;
    overflow: hidden;
}